
body{
    background-color: black;
    overflow-x: hidden;
    /* cursor: none; */
    /* height: 100vh; */
  }
  .App {
    cursor: none;
   width:100vw;
   height: 100vh;
   position: relative;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(214, 214, 214); /* Fallback color */
    background-color: rgba(201, 196, 196, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: transparent;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: fit-content;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
   

  
  #s1{
   --v:11;
  }
  #s2{
    --v:12;
   }
   #s3{
    --v:10;
   }
   #s4{
    --v:14;
   }
   #s5{
    --v:23;
   }
   #s6{
    --v:18;
   }
   #s7{
    --v:16;
   }
   #s8{
    --v:19;
   }
   #s9{
    --v:20;
   }
   #s10{
    --v:22;
   }
  
   #s11{
    --v:25;
   }
   #s12{
    --v:18;
   }
   #s13{
    --v:21;
   }
   #s14{
    --v:15;
   }
  .cursor-style {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: 3px inset blueviolet;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.807);
    transform: translate(10%, 10%);
    position: fixed;
    pointer-events: none;
    z-index: 300;
    
  }
 
  .inner-cursor-style{
    height: .5rem;
    width: .5rem;
    border-radius: 100%;
   background-color: rgb(235, 235, 172);
   box-shadow: 0px 0px 10px 5px rgb(240, 154, 240);
    transform: translate(130%, 130%);
    position: fixed;
    pointer-events: none;
    z-index: 2;
  }
.bubbles{
  position: relative;
  display: flex;
  gap: 1rem;
 justify-content: space-between;
}
.bubbles span {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(190, 14, 114, 0.63);
  box-shadow: 0 100px rgba(239, 201, 223, 0.772),
  100px 150px  rgb(174, 70, 174),
  0 0 50px rgba(192, 96, 240, 0.592);
  animation: animate 15s linear infinite;
  opacity: .7;
animation-duration:calc(125s/ var(--v)) ;
animation-delay: 1s;

}
.bubbles span:nth-child(even){
  background: rgb(231, 226, 231);
  box-shadow: 0 100px rgba(202, 89, 236, 0.612),
  150px 100px rgb(113, 6, 83)
  0 0 50px rgb(73, 3, 73);
  animation: animate 15s linear infinite;
  opacity: .7;
  animation-duration:calc(150s/ var(--v)) ;
animation-delay: 3s;
}
@keyframes animate {
  0%
  {
    transform: translateY(100vh) scale(1);
  }
 100%
  {
    transform: translateY(0vh) scale(0.5);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities; 

